@model IEnumerable<DeliveryEat.Models.Restaurante>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Restaurantes</h1>

@if (Context.User.IsInRole("Administrativo")) {
    <p>
        <a asp-action="Create">Criar novo restaurante</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeFotografia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.NomeFotografia)
            </td>

            @if (Context.User.IsInRole("Administrativo")) {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Remover</a> |
                    <a asp-action="Index" asp-controller="Pratos" asp-route-restauranteId="@item.Id">Lista Pratos</a>

                </td>
            }

            @if (Context.User.IsInRole("Cliente")) {
                    <td>
                        <a asp-action="Index" asp-controller="Pratos" asp-route-restauranteId="@item.Id">Lista Pratos</a>
                    </td>

            }
        </tr>
}
    </tbody>
</table>
